{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'municipality_list' %}">Municipality Listing</a></p>
<table class="table">
<tr>
    <td>Name</td>
    <td>State</td>
    <td>Population</td>
</tr>
{% for object in object_list %}
<tr>

    <td><a href="{% url 'municipality_detail' object.slug %}">{{ object.name }}</a></td>
    <td>{{ object.state }}</td>
    <td>{{ object.population }}</td>
</tr>
{% endfor %}
</table>{% if user.is_staff %}<a class="btn btn-primary" href="{% url 'municipality_create' %}">Create new Municipality</a>{% endif %}
{% endblock %}